.main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    font-size: min(24vw,128px);
    color: rgb(55,237,203);;
    background: linear-gradient(90deg, rgba(55,237,203,1) 0%, rgba(100,136,240,1) 35%, rgba(173,137,218,1) 50%, rgba(255,139,194,1) 70%, rgba(255,78,78,1) 90%);
    background: linear-gradient(90deg, rgba(55,237,203,1) 0%, rgba(100,136,240,1) 35%, rgba(173,137,218,1) 57%, rgba(255,139,194,1) 72%, rgba(255,78,78,1) 90%);
    background: linear-gradient(90deg, rgba(55,237,203,1) 0%, rgba(100,136,240,1) 44%, rgba(173,137,218,1) 57%, rgba(255,139,194,1) 72%, rgba(255,78,78,1) 90%);
    background: linear-gradient(90deg, rgba(55,237,203,1) 0%, rgba(100,185,240,1) 32%, rgba(100,136,240,1) 45%, rgba(173,137,218,1) 57%, rgba(255,139,194,1) 72%, rgba(255,78,78,1) 90%);
    background: linear-gradient(90deg, rgba(55,237,203,1) 0%, rgba(100,185,240,1) 32%, rgba(100,136,240,1) 45%, rgba(173,137,218,1) 57%, rgba(255,139,194,1) 67%, rgba(246,105,172,1) 75%, rgba(255,78,78,1) 90%);
    background: linear-gradient(90deg, rgba(55,237,203,1) 0%, rgba(100,185,240,1) 32%, rgba(100,136,240,1) 45%, rgba(173,137,218,1) 57%, rgba(255,139,194,1) 67%, rgba(255,136,193,1) 75%, rgba(255,78,78,1) 90%);
    background: linear-gradient(90deg, rgba(55,237,203,1) 0%, rgba(100,185,240,1) 32%, rgba(100,136,240,1) 45%, rgba(173,137,218,1) 57%, rgba(255,139,194,1) 67%, rgba(255,136,193,1) 75%, rgba(255,27,93,1) 90%);
    background: linear-gradient(90deg, rgba(55,237,203,1) 0%, rgba(100,185,240,1) 32%, rgba(100,136,240,1) 45%, rgba(173,137,218,1) 57%, rgba(255,139,194,1) 67%, rgba(255,136,193,1) 75%, rgba(255,49,108,1) 90%);
    background: linear-gradient(90deg, rgba(55,237,203,1) 0%, rgba(100,185,240,1) 32%, rgba(100,136,240,1) 45%, rgba(173,137,218,1) 57%, rgba(255,139,194,1) 67%, rgba(255,136,193,1) 75%, rgba(255,43,104,1) 90%);
    background: linear-gradient(90deg, rgba(55,237,203,1) 0%, rgba(100,185,240,1) 32%, rgba(100,136,240,1) 45%, rgba(173,137,218,1) 57%, rgba(255,139,194,1) 67%, rgba(255,136,193,1) 75%, rgba(255,43,83,1) 90%);
    // V2 ~
    background: linear-gradient(58deg, rgba(55,237,203,1) 0%, rgba(100,185,240,1) 32%, rgba(100,136,240,1) 45%, rgba(173,137,218,1) 57%, rgba(255,139,194,1) 67%, rgba(255,136,193,1) 75%, rgba(255,43,83,1) 90%);
    background: linear-gradient(58deg, rgba(55,237,203,1) 0%, rgba(100,185,240,1) 32%, rgba(100,136,240,1) 45%, rgba(173,137,218,1) 57%, rgba(255,139,194,1) 81%, rgba(255,94,141,1) 89%, rgba(255,43,83,1) 100%);
    background: linear-gradient(58deg, rgba(55,237,203,1) 0%, rgba(100,185,240,1) 32%, rgba(100,136,240,1) 45%, rgba(173,137,218,1) 57%, rgba(193,137,212,1) 69%, rgba(255,139,194,1) 85%, rgba(255,94,141,1) 91%, rgba(255,52,94,1) 95%, rgba(255,26,69,1) 100%);
    background: linear-gradient(58deg, rgba(55,237,203,1) 0%, rgba(100,185,240,1) 32%, rgba(100,136,240,1) 45%, rgba(173,137,218,1) 57%, rgba(193,137,212,1) 68%, rgba(255,139,194,1) 82%, rgba(255,94,141,1) 90%, rgba(255,52,94,1) 95%, rgba(255,26,69,1) 100%);
    background: linear-gradient(58deg, rgba(55,237,203,1) 0%, rgba(100,185,240,1) 32%, rgba(126,190,249,1) 45%, rgba(173,137,218,1) 57%, rgba(193,137,212,1) 68%, rgba(255,139,194,1) 82%, rgba(255,94,141,1) 90%, rgba(255,52,94,1) 95%, rgba(255,26,69,1) 100%);
    background: linear-gradient(58deg, rgba(55,237,203,1) 0%, rgba(100,185,240,1) 32%, rgba(103,183,255,1) 45%, rgba(173,137,218,1) 57%, rgba(193,137,212,1) 68%, rgba(255,139,194,1) 82%, rgba(255,94,141,1) 90%, rgba(255,52,94,1) 95%, rgba(255,26,69,1) 100%);
    background: linear-gradient(58deg, rgba(55,237,203,1) 0%, rgba(100,185,240,1) 32%, rgba(55,143,255,1) 45%, rgba(173,137,218,1) 57%, rgba(193,137,212,1) 68%, rgba(255,139,194,1) 82%, rgba(255,94,141,1) 90%, rgba(255,52,94,1) 95%, rgba(255,26,69,1) 100%);
    background: linear-gradient(58deg, rgba(55,237,203,1) 0%, rgba(103,195,255,1) 32%, rgba(55,143,255,1) 45%, rgba(173,137,218,1) 57%, rgba(193,137,212,1) 68%, rgba(255,139,194,1) 82%, rgba(255,94,141,1) 90%, rgba(255,52,94,1) 95%, rgba(255,26,69,1) 100%);
    background: linear-gradient(58deg, rgba(55,237,203,1) 0%, rgba(103,195,255,1) 32%, rgba(55,143,255,1) 45%, rgba(194,145,255,1) 57%, rgba(219,146,244,1) 68%, rgba(255,139,194,1) 82%, rgba(255,94,141,1) 90%, rgba(255,52,94,1) 95%, rgba(255,26,69,1) 100%);
    background: linear-gradient(58deg, rgba(55,237,203,1) 0%, rgba(103,195,255,1) 32%, rgba(55,143,255,1) 46%, rgba(194,145,255,1) 58%, rgba(219,146,244,1) 68%, rgba(255,139,194,1) 82%, rgba(255,94,141,1) 90%, rgba(255,52,94,1) 95%, rgba(255,26,69,1) 100%);
    background: linear-gradient(58deg, rgba(55,237,203,1) 0%, rgba(103,195,255,1) 32%, rgba(55,143,255,1) 45%, rgba(135,143,255,1) 51%, rgba(194,145,255,1) 58%, rgba(219,146,244,1) 68%, rgba(255,139,194,1) 82%, rgba(255,94,141,1) 90%, rgba(255,52,94,1) 95%, rgba(255,26,69,1) 100%);
    background: linear-gradient(62deg, rgba(55,237,203,1) 0%, rgba(103,195,255,1) 32%, rgba(55,143,255,1) 47%, rgba(135,143,255,1) 51%, rgba(194,145,255,1) 58%, rgba(219,146,244,1) 68%, rgba(255,139,194,1) 82%, rgba(255,94,141,1) 90%, rgba(255,52,94,1) 95%, rgba(255,26,69,1) 100%);
    background: linear-gradient(62deg, rgba(55,237,203,1) 0%, rgba(103,195,255,1) 32%, rgba(55,143,255,1) 43%, rgba(113,140,255,1) 48%, rgba(135,143,255,1) 51%, rgba(194,145,255,1) 58%, rgba(219,146,244,1) 68%, rgba(255,139,194,1) 82%, rgba(255,94,141,1) 90%, rgba(255,52,94,1) 95%, rgba(255,26,69,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    text-align: center;
}
.input {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
    width: 100vw !important;
    min-width: 100px;
    border: 1px solid #d0d7de;
    text-align: center;

    font-size: min(24vw,128px);
    /*background: linear-gradient(62deg, rgba(55,237,203,1) 0%, rgba(103,195,255,1) 32%, rgba(55,143,255,1) 43%, rgba(113,140,255,1) 48%, rgba(135,143,255,1) 51%, rgba(194,145,255,1) 58%, rgba(219,146,244,1) 68%, rgba(255,139,194,1) 82%, rgba(255,94,141,1) 90%, rgba(255,52,94,1) 95%, rgba(255,26,69,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}