.main {
    display: flex;
    /*align-items: center;
    justify-content: center;*/
    width: 100vw;
    height: 100vh;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    padding: 10px;
    color: #24292f;
    > h1 {
        margin: 0;
    }
    p {
        width: fit-content;
        margin: 0;
        margin-bottom: 6px;
    }
    > div > div {
        margin-left: 15px;
        > :is(p,a) {
            margin: 0;
        }
    }
}

.underline {
    position: relative;
    color: inherit;
    text-decoration: none;
}
.underline::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #E91E63;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .4s,-webkit-transform .4s;
}
.underline:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1)
}
.underline::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #FFC107;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .6s,-webkit-transform .6s;
    z-index: 10;
}
.underline:hover::after {
    width: 80%;
    transform-origin: bottom left;
    transform: scaleX(1)
}
.underline.simple {
    position: relative;
    color: inherit;
    text-decoration: none;
}
.underline.simple::before {
    background: #24292f;
}
.underline.simple::after {
    content: none;
}