.histories {
    position: relative;
    padding-top: 6px ;
    width: 100%;
    p {
        margin: 0;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 2px;
        background-color: #eaeef2;
    }
    .history {
        display: flex;
        .history_icon {
            width: 32px;
            height: 32px;
            background-color: #eaeef2;
            border-radius: 100%;
            position: relative;
            //right: 15px;
            margin-left: -15px;
            margin-right: 8px;
            top: 4px;
            border: 2px solid #fff;

            display: flex;
            justify-content: center;
            align-items: center;
            >svg {
                color: #57606a;
            }
        }
        .history_main {
            padding: 6px 0 5px 0;
            width: 100%;
            .history_info {
                width: 100%;
                display: flex;
                justify-content: space-between;
                p {
                    font-size: 16px;
                    margin: 2px 0;
                    color: #24292f;
                }
                p:nth-child(2) {
                    font-size: 12px;
                    font-weight: 600;
                }
            }
            p {
                font-size: 14px;
                color: #24292f;
            }
        }
    }
}
.history_repo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .history_repo_title {
        display: flex;
        width: 65%;
        .history_repo_icon {
            margin-right: 5px;
            color: #57606a;
        }
        .history_repo_url {
            a {
                color: #0969da;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .history_repo_info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 35%;
        .history_repo_info_lang {
            display: flex;
            align-items: center;
            .history_repo_info_lang_color {
                width: 12px;
                height: 12px;
                border-radius: 100%;
                position: relative;
                top: 2px;
                margin-right: 2px;
            }
            p {
                font-size: 12px;
                color: #57606a;
            }
        }
        p.history_repo_info_date {
            font-size: 12px;
            color: #57606a;
        }
    }
}
@media (max-width: 600px) {
    .history_repo {
        display: block;
        .history_repo_title {
            width: 100%;
        }
        .history_repo_info {
            width: 100%;
        }
    }
}