.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    border-radius: 6px;
    border: 1px solid #d0d7de;
    h1,h2,h3,h4,h5,h6,p {
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
        color: #24292f;
        margin: 0;
    }
    .title {
        display: flex;
        align-items: center;
        svg {
            color: #57606a;
            width: 16px;
            height: 16px;
            margin-right: 8px;
        }
        .title_ {
            color: #0969da;
            font-weight: 600;
            margin-right: 8px;
        }
        .public {
            font-size: 12px;
            border: 1px solid #d0d7de;
            border-radius: 15px;
            padding: 2px 8px;
        }
    }
    .description {
        margin: 10px 0;
        p {
            font-size: 12px;
            color: #57606a;
        }
    }
    .lang {
        display: flex;
        align-items: center;
        font-size: 12px;
        .color {
            width: 12px;
            height: 12px;
            border-radius: 100%;
            margin-right: 4px;
        }
    }
}