.main {
    width: 100%;
    height: 8px;
    background-color: #eff1f3;
    border-radius: 10px;
    display: flex;
    .bar {
        height: 8px;
        margin-right: 2px;
    }
    .bar:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .bar:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-right: 0;
    }
}

.main {
    position: relative;
}
.main::before {
    content: "";
    position: absolute;
    left: 3px;
    z-index: 10;
    width: calc(100% - 6px);
    height: 8px;
    //border-radius: 0px 8px 8px 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: scaleX(1);
    visibility: hidden;
    pointer-events: none;
    background-color: #ededed;
    transform-origin: bottom right;
    animation: show cubic-bezier(0.22, 1, 0.36, 1) 1s 1 alternate none running;
}
@keyframes show {
    0% {
        transform: scaleX(1);
        visibility: inherit;
    }
    100% {
        transform: scaleX(0);
        visibility: inherit;
    }
}